<div class="container">
  
<p id="notice"><%= notice %></p>
<h1>Listing Transactions</h1>
<p>
    Download:
    <%= link_to "Transactions.csv" , transactions_path(account_id: params[:account_id],format: "csv") %>
   
</p>
<table class="table table-striped", id= 'myTable'>
  <thead>
    <tr>
      <th>ATM</th>
      <th>Amount</th>
      <th>Transaction type</th>
      <th>Transaction Time</th>
     
    </tr>
  </thead>

  <tbody>
   <% @transactions.each do |transaction| %>
   
     <tr>
        <td><%= transaction.atm_machine_id %></td>
        <td><%= transaction.amount %></td>
        <td><% if transaction.transaction_type ==1 %>
           <%="Deposit"%>
           <%else%>
           <%="Withdrawal"%>
           
           <%end%></td>
           <td><%=transaction.created_at.in_time_zone('Central Time (US & Canada)')%></td>
         
     </tr>
    <% end %>
  </tbody>
  
 </table>
<%= link_to 'Back', atm_machine_path(session[:my_atm]),class:"btn btn-danger" %>

</div>

