<div class="container">
  
<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

<table class="table table-striped">
  <thead>
    <tr>
     
      <th>Transaction type</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><% if transaction.transaction_type == 1 %>
            <%= "Deposit" %>
            <%else%>
            <%= "Withdrawal" %>
            <%end%>
      
      
        <td><%= transaction.amount %></td>
        <td><%= link_to 'Show', transaction,class:"btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
  
 </table>
<%= link_to 'Back', atm_machine_path(session[:my_atm]),class:"btn btn-danger" %>
</div>

