<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction no:</strong>
  <%= @transaction.transaction_no %>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @transaction.transaction_type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>


<%= link_to 'Back', transactions_path,class:"btn btn-primary btn-sm" %>
</div>
