<div class="container">
<%= form_for(@account) do |f| %>

  <div class="field">
    <%= f.label :account_no %><br>
    <%= f.text_field :account_no %>
  </div>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
